<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <img alt="Centre de débosselage Daniel inc." src="assets/images/icon.png">
</div>
<div class="photo">
  <img alt="garage" src="assets/images/garage.jpg">
</div>
<div class="main">
  <p class="content">Fondé par le propriétaire, Daniel Michaud le 1er octobre 1983, qui est maintenant secondé par ses fils Adam et Luc Michaud. Nous sommes spécialisés dans la réparation de véhicules accidentés. Situé au 194, Boul. St-Benoit Est à Amqui, l’entreprise dispose d’équipements à la fine pointe de la technologie et d’experts vous offrant un service rapide d’une qualités dépassant vos attentes.</p>
  <div class="contact">
    <header class="contact-header">
      <h2 class="entry-title">Nous Joindre</h2>
    </header>
    <p>
      <strong>ADRESSE:</strong><br>
      194 Boulevard Saint Benoît Est, Amqui, QC G5J 2C5
    </p>
    <p>
      <strong>EMAIL:</strong><br>
      <a href="mailto:centd@globetrotter.net">centd@globetrotter.net</a>
    </p>
    <p>
      <strong>TÉLÉPHONE:</strong><br>
      (418) 629-2444
    </p>
  </div>
  <div class="caa">
    <img alt="garage" src="assets/images/GaragesRecommandeCAA.png">
  </div>
  <div class="photo">
    <img alt="garage" src="assets/images/garage_clé_verte.jpg">
  </div>
</div>

