.header {
  padding:10px;
}

.photo {
  img {
    width: 100%;
  }
}
.caa {
  width: 100%;
  margin: auto;
  max-width: 300px;
  padding: 10px 0 10px 0; 
  img {
    width: 100%;
  }
}

.main {
  padding: 10px;
}

.content {
  padding: 0 0 20px 0;
}

.contact {
  padding: 10px;
  background: white;
  border-radius: 8px;
  border: 1px solid #696969;
}

.contact-header {
  background: rgba(220, 220, 220, 0.80);
  margin: -10px;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}
